services:
    mrp_stripe_webhook.listener:
        class: MRP\StripeWebhookBundle\EventListener\StripeWebhookListener
        arguments: [@logger]
        tags:
            - { name: kernel.event_subscriber }
            - { name: kernel.event_listener, event: mrp_stripe_webhook.generic, method: onGenericWebhookEvent }